@font-face {
    font-family: myfont;
    src: url("./assets/font/font.ttf");
}

* {
    font-family: myfont;
    margin: 0;
}

:root {
    --main-color: #ff6500;
    --use-color: #4680ff;
}

body,
button {
    font-size: 18px;
}

.nav {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    height: 80px;
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.center {
    justify-content: center;
}

.around {
    justify-content: space-around;
}

.beet {
    justify-content: space-between;
}

.medel {
    align-items: center;
}

.nav-logo {
    height: 40px;
}

.roundBtn {
    height: 40px;
    width: auto;
    padding: 0 30px 0 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.roundBtn:hover {
    background-color: #c24e00;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    margin: 8px;
    cursor: pointer;
    color: #1d1d1d;
    transition: all 0.3s;
}

.nav-list li:hover {
    border-bottom: 1px solid var(--main-color);
    transform: scale(1.2);
    color: var(--main-color);
}

.mobileNavButton {
    display: none;
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
        height: auto;
        width: 50%;
        background-color: #eee;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        list-style: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 80px;
        animation: aniti 1s;
        padding: 10px;
    }

    @keyframes aniti {
        0% {
            transform: rotateX(90deg);
        }

        100% {
            transform: rotateYX(0deg);
        }
    }

    .mobileNavButton {
        display: block;
        font-size: 29px;
        color: #000;
        cursor: pointer;
        padding: 8px;
    }

}