@font-face {
    font-family: myfont;
    src: url("./assets/font/font.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


:root {
    --main-color: #ff6500;
    --use-color: #4680ff;
    --ndsql-font: myfont;
    --google-font: "Josefin Sans", sans-serif;
}
.mainColor{
    color: var(--main-color);
}
.useColor{
    color: var(--use-color);
}
body,
button {
    font-size: 18px;
}

* {
    font-family: var(--google-font);
    margin: 0;
}

.nav {
    position: sticky;
    top: 0;
    background-color: #ffffff33;
    height: 80px;
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(5px);
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.center {
    justify-content: center;
}

.around {
    justify-content: space-around;
}

.beet {
    justify-content: space-between;
}

.medel {
    align-items: center;
}

.nav-logo {
    height: 40px;
}

.roundBtn {
    height: 40px;
    width: auto;
    padding: 0 30px 0 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.roundBtn:hover {
    background-color: #c24e00;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    margin: 8px;
    cursor: pointer;
    color: #1d1d1d;
    transition: all 0.3s;
}

.nav-list li:hover {
    transform: scale(1.2);
    color: var(--main-color);
}

.mobileNavButton {
    display: none;
}

.w100 {
    width: 100%;
}

.mbW100to80 {
    min-width: 80%;
}

.test {
    background-color: red;
}

.bagimg {
    background-image: url("./assets/img/wave/blurry-gradient-haikei.svg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeTitle {
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
    color: #3c3c3c;
}

.ndsql {
    font-family: var(--ndsql-font);
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
        height: auto;
        width: 50%;
        background-color: #eee;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        list-style: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 80px;
        animation: aniti 0.7s;
        padding: 10px;
    }

    @keyframes aniti {
        0% {
            transform: rotateX(90deg);
        }

        100% {
            transform: rotateX(0deg);
        }
    }

    .mobileNavButton {
        display: block;
        font-size: 29px;
        color: #000;
        cursor: pointer;
        padding: 8px;
    }

    .mbW100to80 {
        min-width: 90%;
    }

}